<div class='outer outer-r b-r' class='inline' style='height:auto'>

<div class='container container-r b-r dd'>
 
    <form action='/algo/path' method='post'>
        <div class='input inline inline-r '> <select class="input_tag pad" name='source'>
            <option> Banglore</option>
            <option> Hyderabad</option>
            <option> Chennai </option>
            <option> Delhi </option>
            <option>Amritsar</option>
            <option>Bhopal</option>
            <option>Noida</option>
            <option>Amritsar</option>
            <option>Gurgaon</option>
            <option>Pudichery</option>
        </select></div>
        
        <div class='input inline inline-r'> <select class="input_tag pad" name='destination'>
            <option> Banglore</option>
            <option> Hyderabad</option>
            <option> Chennai </option>
            <option> Delhi </option>
            <option>Amritsar</option>
            <option>Bhopal</option>
            <option>Noida</option>
            <option>Amritsar</option>
            <option>Gurgaon</option>
            <option>Pudichery</option>
        </select></div>
       <div class='input inline' >
        <button  class="btn_ pad"><i class='fa fa-search'></i></button>
       </div>
    </form>
    
    </div>
    

</div>
<div id='outer2' style='height: auto;'>

 
     <%count=0%>
    <%if(locals.values){%>
    
        <%for(value of values){%>
       <div    class='container  full_width' style=' margin: 10px;'>
        <div id=' ' style='text-align:center;'>
           
          
           <div class=' '><b><button type="button" class="btn btn-light"><b>Path:</b></button></b>  <%for(let i of value){%>
            <div class="btn-group" role="group" aria-label="Basic example">
              <span style="border:1px double white;padding:3px">   <%=i%>     </span>
                
              </div><svg class="bi bi-arrow-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 8l-2.647-2.646a.5.5 0 010-.708z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M2 8a.5.5 0 01.5-.5H13a.5.5 0 010 1H2.5A.5.5 0 012 8z" clip-rule="evenodd"/>
          </svg>
          <%}%><br></div><br>



          



           <div class=' '><b><button type="button" class="btn btn-light"><b>Price:</b></button></b>            <div class="btn-group" role="group" aria-label="Basic example">
            <span style="border:1px double white;padding:3px">  <%=locals.pric_dist[count][0]%>  </span>
          </div> <br></div><br>




          <div class=' '><b><button type="button" class="btn btn-light"><b>Total Journey Time:</b></button></b>            <div class="btn-group" role="group" aria-label="Basic example">
            <span style="border:1px double white;padding:3px">  <%=locals.journey_time[count]%>  </span>
          </div> <br></div><br>
          <div class=' '><b><button type="button" class="btn btn-light"><b>Total Travel Time:</b></button></b>            <div class="btn-group" role="group" aria-label="Basic example">
            <span style="border:1px double white;padding:3px">  <%=locals.travel_time[count]%>  </span>
          </div> <br></div><br>
          <div class=' '><b><button type="button" class="btn btn-light"><b>Total Waiting Time</b></button></b>            <div class="btn-group" role="group" aria-label="Basic example">
            <span style="border:1px double white;padding:3px">  <%=locals.wait_time[count]%>  </span>
          </div> <br></div><br>





            <div class=' '><b> <button type="button" class="btn btn-light"><b>Distance:</b></button></b>  <div class="btn-group" role="group" aria-label="Basic example">
                <span style="border:1px double white;padding:3px">   <%=locals.pric_dist[count][1]%>  </span>
                
              </div> <br></div>
        </div>
        
       </div>
      <%count+=1%>
       <%}%>
        
   <%}else{%>    
    <div class='container full_width'><h1>Search for Flights</h1></div>
    <%}%>
</div>
 