
<link rel='stylesheet' type='text/css' href='/css/all_flight_paths.css'>

<div class='outer outer-r b-r' class='inline' style='height:auto'>

  <div class='container container-r b-r dd'>

      <form action='/dashboard/specificUser' method='post'>
          <div class='input inline inline-r '> 
            <input type="text" name="name" placeholder="Name Search">
          </div>
            
          <div class='input inline inline-r'>
            <input type="text" name="email" placeholder="Email Search">
          </div>
         <div class='input inline' >
          <button  class="btn_ pad"><i class='fa fa-search'></i></button>
         </div>
      </form>
      
      </div>
      
  
  </div>

<div>
    
    <div class="card_background">
        <%for(user of users){%>

          <table class="card_list">
            
            <form  method='post'    method='post' enctype="multipart/form-data"    action="/dashboard/updateUser/">
              <tr><td><img width=100px height=100px src="<%=user.avatar%>"></td><td></td></tr>
              <tr><td class="thick">Name</td> <td class="thin"> <input type="text" name="name" value="<%=user.name%>" ></td></tr>
              <tr><td class="thick">Id:</td>             <td class="thin">  <input type='text' name='user_id' readonly value='<%=user.id%>'> </td></tr>
              <tr><td class="thick">Email:</td>        <td class="thin">  <input type='text' name='email' readonly value='<%=user.email%>'> </td></tr>
              <tr><td class="thick">Password:</td> 	            <td class="thin">   <input type='text' name='password' required value='<%=user.password%>'>  </td></tr>
              <tr><td class="thick">Mobile:</td>           <td class="thin">  <input type='text' name='mobile' required value='<%=user.mobile%>'> </td></tr> 
              <tr><td class="thick">Avatar:</td>         <td class="thin" width=50px style="width:20px;overflow: hidden;">  <input   name='avatar'  type="file" >  </td></tr>
              <tr><td colspan="1"><button class="btn btn-Info" type="submit">Update Path</button></td>
             </form>
             <td><a href="/dashboard/deleteUser/<%=user._id%>">
              <button id="delete_btn"  class='btn btn-Danger'>  Delete User </button>
            </a>  </td></tr>
           </table>








            <!-- <img width=100 height=100 src=<%=user.avatar%>>
            
            <form method='post' enctype="multipart/form-data"    action="/dashboard/updateUser/">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name:</th>
                    <th scope="col" ><input type='text' name='name' value='<%=user.name%>'></th>
                    <input type="text" name="user_id" hidden value="<%=user.id%>">
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Email:</td>
                    <td><input type='text' name='email' value='<%=user.email%>'></td>
                   
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Password:</td>
                    <td><input type='text' name='password' value='<%=user.password%>'></td>
                    
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Mobile:</td>
                    <td><input type='text' name='mobile' value='<%=user.mobile%>'></td>
                    
                  </tr>
                
                 
                  <tr>
                    <th scope="row">3</th>
                    <td>Avatar:</td>
                    <td><input class='input_tag' name='avatar' type="file"  placeholder="file"  ></td>
                    
                  </tr>
                </tbody>
              </table>
              <br>

              <button class='btn btn-info'>Update User</button>

            </form>
           <a href="/dashboard/deleteUser/<%=user._id%>">
            <button id="delete_btn"  class='btn btn-Danger'>  Delete User </button>
          </a> 

            <br>
            <hr>
            <br>
 -->


        <%}%>
    </div>

</div>
 